1-1 Print 이용하기

In [1]:
print("hello world!")

hello world!

In [2]:
print("name:","Lee SangWon")

name: Lee SangWon

In [4]:
print("Age:",24)

Age: 24

In [5]:
print("Grade:",3.5)

Grade: 3.5

In [6]:
#String은 ""로 표현하며 ,를 이용하여 연속으로 출력가능

In [7]:
print("Hello World!")

Hello World!

In [8]:
print("Name:","Lee SangWon")

Name: Lee SangWon

In [9]:
print("Grade:",3.5)

Grade: 3.5

1-2 변수할당하기

In [13]:
a=10 #a에다가 10을 할당,이름을 가지고 연산

In [14]:
#뒤에는 변수를 이용하여 프로그래밍

In [15]:
print(a)

10

In [19]:
#소문자로 이름짓기 띄어쓰기는 "_"이용
#코드를 위한 약속

In [32]:
math_score=20

In [33]:
print(math_score)

20

In [34]:
my_height=180

In [35]:
print("키:",my_height)

키: 180

In [36]:
print(a,math_score,my_height)#연속적인 변수 가능

10 20 180

In [37]:
#나누고 싶으면? sep=""이용

In [40]:
print(a,math_score,my_height,sep=";")

10;20;180

1-3 사칙연산하기

In [41]:
# /는 나누기, //는 몫을 구하기, **는 제곱

In [5]:
int1, int2=7, 2

In [45]:
int1=7
int2=2

In [46]:
print(int1+int2)

9

In [48]:
print(int1-int2)

5

In [49]:
print(int1*int2)

14

In [51]:
print(int1**int2) #int1을 int2만큼 제곱하기

49

In [52]:
print(int1/int2)

3.5

In [54]:
print(int1//int2) #몫을 구하기

3

In [57]:
print(int1%int2) #나머지 구하기

1

1-4 변수를 동시에 할당하기, 연산결과를 변수에 담기

In [66]:
int3,int4= 2,4

In [67]:
print(int3)

2

In [68]:
print(int4)

4

In [69]:
add=int3+int4

In [70]:
print(add)

6

In [71]:
subtract=int3-int4

In [72]:
print(subtract)

-2

In [73]:
mul,div=int3*int4, int3/int4

In [74]:
print(mul)

8

In [75]:
print(div)

0.5

In [76]:
quo,re,power= int3//int4,int3%int4,int3**int4

In [78]:
print(quo,re,power,sep=",")

0,2,16

1-5 간단한 기호로 다시 할당

In [90]:
aa=10
aa=aa+10
print(aa)

20

In [91]:
aa+=10
print(aa)

30

In [92]:
aa-=10
print(aa)

20

In [100]:
score=10
print(score)
score+=10
print(score)
score-=10
print(score)
score*=10
print(score)
score/=10
print(score)
score**=2
print(score)

10
20
10
100
10.0
100.0

1_8 다 더하고 평균 구하기

In [108]:
score1, score2, score3 = 1,2,3 #한번에 변수할당

In [106]:
score_sum=score1+score2+score3

In [107]:
print(score_sum)

6

In [113]:
n_student =3 #학생의 수
score_mean= score_sum/n_student
print(score_mean)

2.0

In [114]:
score_mean1=(score1+score2+score3)/n_student

In [115]:
print(score_mean1)

2.0

1-9 변수를 각각 증가

In [116]:
score1+=10
score2+=10
score3+=10

In [119]:
score_mean=(score1+score2+score3)/n_student

In [121]:
print(score_mean) #변수가 모두10씩 증가하자, 평균도 10이 증가한다.
#선형성이 유지

12.0

In [122]:
score1*=5
score2*=5
score3*=5

In [123]:
score_mean=(score1+score2+score3)/3

In [125]:
print(score_mean) #모든 변수에 5씩 곱하자, 평균이 5배가 됨

60.0

1-10 각 변수를 각각 빼기 mean_subtraction

In [127]:
score1-=10
score2-=10
score3-=10
score_mean=(score1+score2+score3)/n_student

In [128]:
print(score_mean)

50.0

In [1]:
print("{0}번째 학생의 수학점수:{1}".format(1,100))

1번째 학생의 수학점수:100

In [4]:
print("{0}번은 이기주의야!:".format(4))

4번은 이기주의야!:

In [129]:
#각 변수를 10씩 빼자 평균도 10이 감소