1-22

In [15]:
#score 3개 구하기

In [2]:
score1,score2,score3 = 10, 20,30
n_student=3
mean=(score1+score2+score3)/n_student
print(mean)
#변수를 하나씩 할당하기 귀찮음
#이걸 한번에 담기?? list!

20.0

In [8]:
math_scores=[10, 20, 30, 40, 50, 60]
#여러개의 변수들이 들어감.
#여러개의 의미들이란 표현 꼭 넣기!
#0부터 시작
print(math_scores[0])#1번째
print(math_scores[1])#2번째
print(math_scores[2])#3번째

10
20
30

In [11]:
#list는 수정이 가능하다.
math_scores[0]=100
math_scores[1]=200
math_scores[2]=300

In [12]:
print(math_scores[0])#수정된 값
print(math_scores[1])
print(math_scores[2])

100
200
300

1-23
리스트의 길이구하기 len()활용

In [17]:
len(math_scores)

6

In [19]:
scores=[10, 20, 30, 40]
n_scores=len(scores)
print(n_scores)

4

In [20]:
#리스트의 합을 구하기

In [40]:
# for 문 사용
sum1=0
for i in scores: #i가 scores에서 인자를 받아 하나씩 더하기
    sum1+=i
n_student=len(scores)
mean=sum1/n_student
print(mean)

sum2=0
for i in range(4):
    sum2+=scores[i]
mean2=sum2/n_student
print(mean2)

25.0
25.0

In [37]:
#평균 구하는 방법 2
n_student=len(scores)
mean=sum(scores)/n_student
print(mean)
#sum(리스트)하면 리스트의 있는 모든 원소의 합이 나온다.

25.0

In [38]:
#제일 기본 
sum1=scores[0]+scores[1]+scores[2]+scores[3]
print(sum1)
n_student=len(scores)
mean=sum1/n_student
print(mean)

100
25.0

1-24 각 평균 각각 빼보기

In [42]:
scores=[10, 20, 30]
n_student=len(scores)
mean=(scores[0]+scores[1]+scores[2])/n_student
print(mean)
scores[0]-=mean
scores[1]-=mean
scores[2]-=mean
mean_subtract=(scores[0]+scores[1]+scores[2])/n_student
print(mean_subtract)

20.0
0.0

1-25 list의 variance 구하기

In [43]:
scores=[10,20,30,40]
n_student=len(scores)
score_mean=(scores[0]+scores[1]+scores[2]+scores[3])/n_student
score_mean

25.0

In [44]:
square_of_mean=score_mean**2
mean_of_square=(scores[0]**2+scores[1]**2+scores[2]**2+scores[3]**2)/n_student
variance=mean_of_square-square_of_mean
std=variance**0.5
print("표준편차:",std)

표준편차: 11.180339887498949

In [50]:
scores=[10,20,30]
n_student=len(scores)
mean=(scores[0]+scores[1]+scores[2])/n_student
square_of_mean=mean**2
print(square_of_mean)
mean_of_square=(scores[0]**2+scores[1]**2+scores[2]**2)/n_student
variance=mean_of_square-square_of_mean
print(variance)
std=variance**0.5
print("표준편차:",std)

400.0
66.66666666666669
표준편차: 8.16496580927726

1-27 리스트의 표준화

In [57]:
scores=[10, 20, 30]
#before_standardization
n_student=len(scores)
mean=(scores[0]+scores[1]+scores[2])/n_student
s_mean=mean**2
mean_s=(scores[0]**2+scores[1]**2+scores[2]**2)/n_student
variance=mean_s-s_mean
print(variance)
std=variance**0.5
print("표준편차:",std)
#after std
scores[0]-=mean
scores[1]-=mean
scores[2]-=mean
scores[0]/=std
scores[1]/=std
scores[2]/=std
mean=(scores[0]+scores[1]+scores[2])/n_student
print(mean)
s_mean=mean**2
mean_s=(scores[0]**2+scores[1]**2+scores[2]**2)/n_student
variance=mean_s-s_mean
print("std:",variance**0.5)

66.66666666666669
표준편차: 8.16496580927726
0.0
std: 1.0