36~44

In [3]:
score1, score2, score3 = 10, 20, 30
score=[10, 20, 30]
n_student= 3
#각각 접근하기 어려움
print(score[0])
print(score[1])
print(score[2])

10
20
30

In [5]:
#for 이용
scores=[10, 20, 30]
for score in scores:
    print(score)
#해석

score= scores[0]
print(score)
score= scores[1]
print(score)
score= scores[2]
print(score)

10
20
30
10
20
30

score 이 10에 접근 다음에는 20에 접근
마지막에는 30에 접근

In [7]:
scores = [10, 20, 30]
#score 합을 누적
score_sum=0
for score in scores:
    score_sum+= score
    print("score이 받은 값:",score,"score 누적 합:",score_sum)
print("loop가 끝난 score 값")

score이 받은 값: 10 score 누적 합: 10
score이 받은 값: 20 score 누적 합: 30
score이 받은 값: 30 score 누적 합: 60
loop가 끝난 score 값

1-37 원소의 수를 count를 해보기

In [9]:
numbers=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#초기 값 설정
iter_cnt= 0
for idx in numbers:
    #idx가 number에 접근하면 idx에 1씩 누적
    iter_cnt+=1 
print(iter_cnt)
#실제로 값을 받는 것이 의미가 필요 없으면? _ 이용

10

In [11]:
numbers=[1, 2, 3, 4, 5]
cnt=0
for _ in numbers:
    cnt+=1
print(cnt)

5

In [15]:
for i in range(5): #0부터 5개 따지기
    print(i)

0
1
2
3
4

In [18]:
#100까지 합 구하기
num_sum=0
for i in range(101):
    num_sum +=i
print(num_sum)

5050

0부터 100까지 리스트 넣기

In [20]:
numbers=list()
for i in range(1,101,1):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [21]:
#홀수만 넣기
numbers_e=list()
for i in range(1,101,2):
    numbers_e.append(i)
print(numbers_e)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [23]:
#0만 100개 넣기
numbers= list()
for _ in range(100):
    numbers.append(0)
print(numbers)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
numbers1= [0 for i in range (100)]
print(numbers1)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

1-42 for loop로 list의 원소 접근하기

In [26]:
#for loop와 index로 접속하기
scores = [10, 20, 30, 40, 50]
print("===원래 방식===")
print(scores[0])
print(scores[1])
print(scores[2])
print(scores[3])
print(scores[4])
print("===새로운 방식===")
#배우는 방식
scores= [10, 20, 30, 40, 50]
for idx in range(len(scores)): #for idx in range(5)와 같다.
    print(idx, scores[idx])

===원래 방식===
10
20
30
40
50
===새로운 방식===
0 10
1 20
2 30
3 40
4 50

In [28]:
scores1=[10, 20, 30, 40, 50, 60]
print("===직접접근===")
for score in scores1:
    print(score)
print("===인덱스로 접근===")
for idx in range(len(scores1)):
    print(scores1[idx])

===직접접근===
10
20
30
40
50
60
===인덱스로 접근===
10
20
30
40
50
60

1-43 접근한 다음 값을 수정해보기!
인덱스로 접근해서 고치면 된다!

In [29]:
for idx in range(len(scores)):
    scores[idx]+=10 #인덱스로 scores를 접근해 각각 10씩 더한다.
print(scores)

[20, 30, 40, 50, 60]

1-44 리스트3개의 원소끼리 동시에 더하기 얘도 인덱스 사용

In [33]:
list1=[1, 2, 3, 4]
list2=[10, 20, 30, 40]
list3=[]
for idx in range(len(list1)):
    print(list1[idx], list2[idx])
    print(list1[idx]+list2[idx])
    list3.append(list1[idx]+list2[idx])
print(list3)

1 10
11
2 20
22
3 30
33
4 40
44
[11, 22, 33, 44]