2차원 리스트 이용 n번째 학생과 과목별 점수가 존재한다.

In [12]:
scores=[[1,2,3],[3,4,5]]
print(scores)
print(scores[0]) #0번째 행
print(scores[1]) #1번째 열
print(scores[0][0])
print(scores[0][1])
print(scores[0][2])
print(scores[1][0])
print(scores[1][1])
print(scores[1][2])

[[1, 2, 3], [3, 4, 5]]
[1, 2, 3]
[3, 4, 5]
1
2
3
3
4
5

2차원 리스트와 for문 이중 for문 행별로 리스트에 접근한 다음, 리스트의 원소에 접근

In [13]:
scores=[[1, 2, 3],[3, 4, 5]]
for student_sources in scores: #행렬 뽑기
    print(student_sources)
#2중 중첩 
    for score in student_sources:
        print(score)

[1, 2, 3]
1
2
3
[3, 4, 5]
3
4
5

In [14]:
scores=[[10, 20, 30, 40, 50],[20, 30, 40, 50, 60],[70, 80, 90]]
for student_sources in scores:
    print(student_sources)
    for score in student_sources:
        print(score)

[10, 20, 30, 40, 50]
10
20
30
40
50
[20, 30, 40, 50, 60]
20
30
40
50
60
[70, 80, 90]
70
80
90

1-84 학생별 평균 구하기
리스트의 개수: 학생의 개수
리스트안의 원소의 개수: 과목의 개수

In [11]:
#내가 해본 풀이. 2차원 리스트의 원소를 직접 접근 해서 2중 루프 이용.
scores=[[10, 15, 20],[20, 25, 30],[30, 35, 40],[40, 45, 50]]
n_student=len(scores) #scores의 행이 학생수이다.
mean_students=[]

for i in range(n_student):
    sum_student=0  #매번 초기화
    for j in range(len(scores[0])):
        sum_student+=scores[i][j]
    mean_student=sum_student/len(scores[0]) #더하는 것이 끝나면 평균 구하기.
    mean_students.append(mean_student) #평균 구해서 append 수행.
            
print(mean_students)

[15.0, 25.0, 35.0, 45.0]

In [12]:
#정답 리스트를 원소에 직접 할당.
scores=[[10, 15, 20],[20, 25, 30],[30, 35, 40],[40, 45, 50]]
n_student=len(scores) #4개의 리스트가 있어서 길이가 4이다.
mean_list=[]
for student_scores in scores: #scores에서 점수 리스트를 할당 받는다.
    student_sum=0 #매번 리스트를 받기 때문에 리스트는 매번 0으로 초기화.
    for score in student_scores: #student_scores란  리스트에 저장된 값을 하나씩 score에 할당.
        student_sum+=score 
    mean_list.append(student_sum/len(student_scores)) #반복이 끝나면 평균을 집어 넣기.
print(mean_list)

[15.0, 25.0, 35.0, 45.0]

In [16]:
scores=[[10, 15, 20],[20, 25, 30],[30, 35, 40],[40, 45, 50]]
n_student=len(scores) #행의 개수=학생수
n_class=len(scores[0]) #scores[0]은 [10, 15, 20]이란 리스트를 가져온다. 이 리스트의 크기를 측정
print("학생수:",n_student,"n_class",n_class)

학생수: 4 n_class 3

In [19]:
scores=[[10, 15, 20],[20, 25, 30],[30, 35, 40],[40, 45, 50]]
student_mean=[]
n_student=len(scores)
for i in range(len(scores)):
    student_sum=0
    for score in scores[i]:
        student_sum+=score
    student_average=student_sum/len(scores[i])
    student_mean.append(student_average)
print(student_mean)

[15.0, 25.0, 35.0, 45.0]

1-85 과목별 평균 구하기
1. 과목 별로 합을 구하기
2. 과목합/학생수로 평균 구하기

In [19]:
scores=[[10, 15, 20],[20, 25, 30],[30, 35, 40],[40, 45, 50]]
score_sum_list=[]
score_mean=[]
for j in range(len(scores[0])):
    class_sum=0
    for i in range(len(scores)):
        class_sum+=scores[i][j]
    score_sum_list.append(class_sum) #과목별로 합해서 리스트에 넣기
print(score_sum_list)
for score in score_sum_list:
    score_mean.append(score/4) #과목 합에서 4씩 나눠서 과목별 평균 구하기.
print(score_mean)

[100, 120, 140]
[25.0, 30.0, 35.0]

강의

In [23]:
scores=[[10, 15, 20],[20, 25, 30],[30, 35, 40],[40, 45, 50]]
n_classes=len(scores[0])
n_student=len(scores)
# 먼저 과목 합과 평균 리스트를 생성한다음에 과목의 개수 만큼 0을 넣어서 초기화를 한다.
score_sum_list=[]
score_mean=[]
for _ in range(n_classes):
    score_sum_list.append(0)
print(score_sum_list)
for student_scores in scores:
    for idx in range(n_classes):
        score_sum_list[idx] += student_scores[idx]
#scores에서 학생간 점수 리스트를 받는다.
#0번째 학생의 0,1,2 번째 과목을 누적
#1번째 학생의 0,1,2 번째 과목을 누적
#마지막으로 2번째 학생의 0,1,2번째 과목을 리스트에 각각 누적한다.
#그러면 score_sum_list가 0에서 과목들을 누적한 형태로 바뀐다.
print(score_sum_list)
for idx in range(len(score_sum_list)):
    score_mean.append(score_sum_list[idx]/n_student)
print(score_mean)

[0, 0, 0]
[100, 120, 140]
[25.0, 30.0, 35.0]

In [27]:
scores=[[10, 15, 20],[20, 25, 30],[30, 35, 40],[40, 45, 50]]
n_classes=len(scores[0])
n_stuent=len(scores)
sum_list=[]
mean_list=[]
for _ in range(n_classes):
    sum_list.append(0)
print(sum_list)
for score in scores:
    for idx in range(n_classes):
        sum_list[idx]+= score[idx]
for idx in range(len(sum_list)):
    mean_list.append(sum_list[idx]/4)
print(mean_list)

[0, 0, 0]
[25.0, 30.0, 35.0]